<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>STATS_CACHE_DURATION</key>
	<integer>300</integer>
	<key>URLS_CACHE_DURATION</key>
	<integer>300</integer>
	<key>MAPS_API_KEY</key>
	<string>Google_Maps_API_Key_goes_here</string>
</dict>
</plist>
